<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>183 South 300 West Lindon, Utah</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "8016712200" %></p>

    <h3>Email</h3>

    <p><a href="mailto:alexcardenas1998@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3041.378314492937!2d-111.72409868419655!3d40.33395297937489!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2s183+South+300+West%2C+Lindon%2C+UT+84042-1928%2C+USA!5e0!3m2!1sen!2sus!4v1501738042055" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>