<div class="inner cover">
        <h1 class="cover-heading">Alexis Cardenas</h1>
        <p class="lead">Web Developer</p>
        <p class="lead">
          <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
        </p>
</div>
